form(action="/login", method="POST")
        label login
        input(name="login", value="admin", id="login")
        label password
        input(type="password", name="password", value="12345", id ="password")
        input(type="submit", value="login")









