* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

.wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;

}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

}

/*scroll cart-nav*/
#cart-nav {
    background-color: lightgreen;
    width: 100%;
    height: 300px;
    overflow-y: scroll;

}

/*#cart-nav::-webkit-scrollbar-track {*/
/*    !*background-image: url(../../public/img/reng.png);*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    overflow: auto;*/
/*    height: 300px;*/
/*    margin-block: 4.5em;*/
/*    background-position: top 0 left 30px;*/


/*}*/

/*#cart-nav::-webkit-scrollbar-thumb {*/
/*    background-color: #808080;*/
/*    border-radius: 70px;*/
/*    padding: 2px;*/
/*    cursor: pointer !important;*/
/*}*/


/*!navigation  site nav*/
.site-nav {
    width: 300px;
    min-height: 100vh;
    position: fixed;
    left: -300px;
    z-index: 999999;
    top: 0;
    padding: 10px;
    transition: all ease 1s;
    color: #fff;

}

.site-header {
    height: auto;
    padding: 20px 0;
}

.site-header h1 {
    display: inline-block;

}

.site-nav a {
    color: #424242;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*!block category */
.card-cont {
    position: relative;
    display: grid;
    grid-template: 500px/repeat(3, 400px);
    grid-auto-flow: column;
}

.card {
    position: relative;
    border: 1px solid #dedede;
    display: flex;
    margin: 5px 20px;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    align-self: normal;
    flex-direction: column;


}

.card-images {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    min-height: 150px;
}

.goods-little-image {
    max-width: 90%;
    margin: 5%;
}

.card-btn-add {
    position: absolute;
    display: inline-block;
    width: 300px;
    left: 6%;

}

.text-center {
    text-align: center;
}

.card-title {
    font-size: 16px;
}


.close-button-div {
    text-align: right;

}

.show-nav {
    position: relative;

}

ul.category-list {
    list-style-type: disc;
}

ul.category-list a {
    color: #424242;
}